*{
    padding: 0;
    margin: 0;
}

#welcome{
    text-shadow: 2px 2px 4px #b4cded;
}

.bgcolor{
    background-color: #b4cded;
}

.more{
    color: #ffffff;
}

.more:hover{
    color: #fdfffc;
}